
body {
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 2%;
}

.logo{
    color: white;
}

.searchbar{
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
}

.user-avatar{  
    padding: 20px;
    border-radius: 100%;
    background-color: gray;
    object-fit: fill;
}