// eba761
body {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem rgb(214, 214, 214));

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .url {
      font-size: 3em;
      text-decoration: none;
    }
  }

  .nav-items {
    display: flex;
    gap: 2em;

    button {
      background: transparent;
      border: 1px black solid;
      border-radius: 5px;
      padding: 0 20px;
      cursor: pointer;
      width: 100px;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 2em;

      .url {
        font-size: 15px;
        text-decoration: none;
        color: black;
      }

      .url:hover {
        font-weight: bold;
        animation-delay: 500ms;
        cursor: pointer;
        font-style: oblique;
      }
    }
  }
}

.restro-card {
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
  }

  .restro-detail {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;

    h5,
    h2 {
      margin: 0%;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;

      .name {
        font-size: 20px;
        font-weight: bold;
        width: 200px;
      }
      .rating {
        display: flex;
        justify-content: end;
        border: 1px solid black;
        border-radius: 5px;
        padding: 0 5px;
        height: 20px;
      }
      .cusine {
        color: #696969;
        padding: 0%;
        margin: 0%;

        li {
          list-style: none;
          font-size: 15px;
        }
      }
      .avg-price {
        color: #696969;
      }
    }

    .sla-container {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .time {
      justify-content: end;
    }
  }

  .shimmer {
    .shimmer-image {
      width: 100%;
      height: 150px;
      border-radius: 20px;
      background-color: #f2f2f2;
    }

    .shimmer-detail {
      margin-top: 5px;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
      .shimmer-name {
        height: 20px;
        width: 200px;
        background-color: #f2f2f2;
      }

      .shimmer-rating,
      .shimmer-avg-price {
        height: 20px;
        width: 50px;
        background-color: #f2f2f2;
      }

      .shimmer-cusine {
        height: 150px;
        width: 100px;
        background-color: #f2f2f2;
      }
    }
  }
}

.restro-card:hover {
  border: 1px solid #e8e8e8;
  box-shadow: inset;
  cursor: pointer;
}

.shimmer-cat-list {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  padding: 0px 5%;

  .shimmer-cat-img {
    height: 100;
    width: 100;
    border-radius: 100%;
    background-color: #f2f2f2;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .searchbox input {
      border-radius: 10px;
      border: 1px solid black;
      padding: 15px;
    }

    .filter .filter-btn {
      background-color: black;
      color: white;
      padding: 10px 40px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .res-container {
    display: flex;
    padding: 0px 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .card-link {
      text-decoration: none;
      color: black;
    }
  }

  .cat-container {
    padding: 0px 5%;

    .cat-list {
      display: flex;
      gap: 30px;
      overflow-x: scroll;

      img {
        height: 180px;
        width: 144px;
        object-fit: contain;
        cursor: pointer;
      }
    }

    .cat-list::-webkit-scrollbar {
      display: none;
    }
  }

  .line {
    margin: 10px 5%;
    height: 2px;
    background-color: #f2f2f2;
  }
}

.restro-detail-container {
  padding: 20px 10%;

  h1,
  div,
  h4,
  h5,
  p {
    margin: 0%;
    padding: 0%;
  }

  .state-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    .rating-container {
      display: flex;
      gap: 5px;
    }
  }

  .cuisines-container {
    display: flex;
    gap: 3px;
    color: #eba761;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
  }
}

.menu-page {
  padding: 20px 10%;
  h2,
  h5,
  h3,
  p {
    padding: 0%;
    margin: 0%;
  }

  .menu-title {
    margin-top: 20px;
  }

  .item-card {
    margin: 20px 0px;
    padding: 2% 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    .item-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .rating {
        span {
          color: rgb(34, 100, 34);
        }
      }
    }

    .item-img-container {
      position: relative;
      button {
        background-color: white;
        border: solid 2px #f2f2f2;
        border-radius: 10px;
        position: absolute;
        padding: 10px 50px;
        bottom: -20px;
        left: 12px;
        color: rgb(27, 166, 114);
        font-weight: bold;
        cursor: pointer;
      }
    }

    img {
      width: 156px;
      height: 144px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .line {
    height: 2px;
    background-color: #f2f2f2;
  }
}

.about {
  padding: 2% 5%;
  .review-container {
    .rating-body {
      display: flex;
      gap: 20px;
      .rating-container {
        font-size: 40px;
        cursor: pointer;
      }
    }
  }
}

.user-data-container {
  padding: 3% 0;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: fit-content;

  h3,
  p {
    margin: 0%;
    padding: 0%;
  }

  .profile-img img {
    height: 80px;
    width: 80px;
    border: 1px solid #bbbbbb;
    border-radius: 100%;
  }

  .profile-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      width: fit-content;
      background-color: black;
      padding: 3% 10%;
      border: transparent;
      border-radius: 5px;
    }
  }
}
